<?xml version="1.0" encoding="UTF-8"?>

<beans>

    <bean id="fruitDAO" class="com.alex.fruit.dao.impl.FruitDAOImpl"></bean>
    <bean id="fruitService" class="com.alex.fruit.biz.impl.FruitServiceImpl">
        <property name="fruitDAO" ref="fruitDAO"></property>
    </bean>
    <!-- 这个bean标签的作用是 -->
    <!-- 将来servletpath中涉及的名字对应的是fruit，那么就要FruitContoller来处理 -->
    <bean id="fruit" class="com.alex.fruit.controllers.FruitController">
        <property name="fruitService" ref="fruitService"></property>
    </bean>
</beans>


<!--
    1. 概念 
    HTML:超文本标记语言
    XML：可扩展标价语言

    HTML是XML的一个子集

    2. XML包含3个部分
    1）XML声明：而且声明这一行代码必须在XML文件的第一行
    2）DTD 文档类型定义
    3）XML正文
 -->